<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.dashboard", :default => "Dashboard")}", dashboard_plans_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.work_log", :default => "Work Log")}", plans_path  %></li>
      <li class="last"><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_plan_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.actual", :default => "Work")  %> Log</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th><%= t("activerecord.attributes.plan.date_for", :default => t("activerecord.labels.date_for", :default => "Date")) %></th>
          <th class=""><%= t("activerecord.attributes.plan.actual_log", :default => t("activerecord.labels.actual_log", :default => "Actual log")) %></th>
        </tr>
        <% @plans.each do |plan| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= link_to plan.date_for, edit_plan_path(plan) %></td>
          <td class=""><%= content_tag :pre, pretty_text(plan.actual_log) %></td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

        <%= will_paginate @plans  %>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
